<div class="grid lg:grid-cols-[60%,1fr]  grid-cols-1 gap-6 ">
  <div class="pt-4 bg-white rounded shadow dark:text-gray-100 dark:bg-gray-900">
    <div class="flex px-6 pb-4 border-b dark:border-gray-700">
      <h2 class="text-xl font-bold dark:text-gray-400">Transaction</h2>
    </div>
    <div class="p-4 overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
        <tr class="text-xs text-left text-gray-500 dark:text-gray-400">
          <th class="px-6 pb-3 font-medium">Transaction ID</th>
          <th class="px-6 pb-3 font-medium ">Date </th>
          <th class="px-6 pb-3 font-medium">Email </th>
          <th class="px-6 pb-3 font-medium">Status </th>
          <th class="px-6 pb-3 font-medium"> </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-xs bg-gray-100 dark:text-gray-400 dark:bg-transparent">
          <td class="px-6 py-5 font-medium">018276td45</td>
          <td class="px-6 py-5 font-medium ">08.4.2021</td>
          <td class="px-6 py-5 font-medium ">abc@gmail.com</td>
          <td>
                                                <span
                                                  class="inline-block px-2 py-1 text-center text-green-600 bg-green-100 rounded-full dark:text-green-700 dark:bg-green-200">Completed</span>
          </td>
          <td class="px-6 py-5 ">
            <a href="#"
               class="px-4 py-2 font-medium text-blue-500 border border-blue-500 rounded-md dark:text-blue-300 dark:border-blue-300 dark:hover:bg-blue-300 dark:hover:text-gray-700 hover:text-gray-100 hover:bg-blue-500">Edit
            </a>
          </td>
        </tr>
        <tr class="text-xs dark:text-gray-400">
          <td class="px-6 py-5 font-medium">018276td45</td>
          <td class="px-6 py-5 font-medium ">08.4.2021</td>
          <td class="px-6 py-5 font-medium ">abc@gmail.com</td>
          <td>
                                                <span
                                                  class="inline-block px-2 py-1 text-center text-yellow-600 bg-yellow-100 rounded-full dark:text-yellow-700 dark:bg-yellow-200">Pending</span>
          </td>
          <td class="px-6 py-5 ">
            <a href="#"
               class="px-4 py-2 font-medium text-blue-500 border border-blue-500 rounded-md dark:text-blue-300 dark:border-blue-300 dark:hover:bg-blue-300 dark:hover:text-gray-700 hover:text-gray-100 hover:bg-blue-500">Edit
            </a>
          </td>
        </tr>
        <tr class="text-xs bg-gray-100 dark:bg-transparent dark:text-gray-400">
          <td class="px-6 py-5 font-medium">018276td45</td>
          <td class="px-6 py-5 font-medium ">08.4.2021</td>
          <td class="px-6 py-5 font-medium ">abc@gmail.com</td>
          <td>
                                                <span
                                                  class="inline-block px-2 py-1 text-center text-green-600 bg-green-100 rounded-full dark:text-green-700 dark:bg-green-200">Completed</span>
          </td>
          <td class="px-6 py-5 ">
            <a href="#"
               class="px-4 py-2 font-medium text-blue-500 border border-blue-500 rounded-md dark:text-blue-300 dark:border-blue-300 dark:hover:bg-blue-300 dark:hover:text-gray-700 hover:text-gray-100 hover:bg-blue-500">Edit
            </a>
          </td>
        </tr>
        <tr class="text-xs dark:text-gray-400">
          <td class="px-6 py-5 font-medium">018276td45</td>
          <td class="px-6 py-5 font-medium ">08.4.2021</td>
          <td class="px-6 py-5 font-medium ">abc@gmail.com</td>
          <td>
                                                <span
                                                  class="inline-block px-2 py-1 text-center text-red-600 bg-red-100 rounded-full dark:text-red-700 dark:bg-red-200">
                                                    Cancelled</span>
          </td>
          <td class="px-6 py-5 ">
            <a href="#"
               class="px-4 py-2 font-medium text-blue-500 border border-blue-500 rounded-md dark:text-blue-300 dark:border-blue-300 dark:hover:bg-blue-300 dark:hover:text-gray-700 hover:text-gray-100 hover:bg-blue-500">Edit
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
